<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">ETOJ</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">大厅</a></li>
        <li><a href="badges.html">题库</a></li>
        <li><a href="collapsible.html">游乐场</a></li>
      </ul>
    </div>
  </nav>